

.allContacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}



/* ................................../* CONTACT 1st */


.contact1st {
    padding-right: 160px;
}

.contact1st__title {
    font-size: 34px;
    font-weight: bold;
    padding-bottom: 50px;
    padding-top: 100px;
}

.contact1st__description {
    font-size: 15px;
    line-height: 160%;
    padding-bottom: 40px;
}

.contact1st__paulina {
    display: inline-flex;
    padding-bottom: 20px;
}

.contact1st__krzysztof {
    display: inline-flex;
    padding-bottom: 20px;
}

.contact1st__mailSection {
    display: inline-flex;
}

.contact1st__mailSvg {
    padding-right: 10px;
}

.contact1st__mail {
    font-weight: bold;
    font-size: 15px;
}

.contact1st__phoneMailSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.contact1st__phoneNumber {
    font-size: 15px;
    font-weight: bold;
    width: 108px;
}

.contact1st__phoneSvg {
    padding-right: 10px;
}

.contact1st__phoneNumberOwner {
    color: #E74180;
    font-size: 15px;
}

.contact1st__hr {
    background-color: #E7E7E7;
    width: 400px;
    margin-bottom: 40px;
}

.contact1st__miniFooter {
    display: inline-flex;
}

.contact1st__miniFooter1stTitle {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}

.contact1st__miniFooter1stDescription {
    font-size: 15px;
    line-height: 160%;
}

.contact1st__miniFooterHr {
    height: 50px;
    width: 1px;
    background-color: #E7E7E7;
    border-style: none;
    margin-top: 38px;
    margin-left: 40px;
    margin-right: 40px;
    
}

.contact1st__miniFooter2ndDescription {
    font-size: 15px;
    line-height: 160%;
    padding-top: 38px;
}




/* ................................../* CONTACT 2ND */


.contact2nd {
    background-color: #F4F4F4;
    width: 730px;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    color: black;
    width: 510px;
}

.contact2nd__title {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 40px;
}

.contact2nd__formElement{
    width: 510px;
    height: 50px;
    padding-left: 20px;
    
    margin-bottom: 20px;
    border-radius: 0;
    border-color: black;
    
}

.contact2nd__formTextarea {
    width: 510px;
    height: 150px;
    padding-left: 20px;
    border-radius: 0;
    border-color: black;
    
    
}

::-webkit-input-placeholder {
    color: black;
    position: absolute;
    padding-top: 17px;
    
    }


    .checkbox{
        margin: 10px 20px;
    }
        input[type=checkbox] {
            display:none;
            
        }
    
        input[type=checkbox] + label{
            border: 1px solid #FFFFFF;
            outline: 1px solid #000000;
            height: 20px;
            width: 20px;
            display:inline-block;
            padding: 0;
            cursor: pointer;
        }
    
        input[type=checkbox]:checked + label{
            background-image: url("check.svg");
            background-repeat: no-repeat;
            height: 20px;
            width: 20px;
            display:inline-block;
            padding: 0;
            
        }
    
        .checkbox-text{
            font-size: 13px;
        }
    
      
      /* Jeśli chcesz dostosować wygląd SVG w zależności od stanu hover lub focus, dodaj odpowiednie reguły CSS tutaj */
    /* .custom-checkbox {
        display: none;
      } */
      
      
      
    /* Hide the default checkbox */
    /* input[type=checkbox] {
        visibility: hidden;
    } */
      
    
     
   
      
   
      
    
    

    

/* .contact2nd__AllFormCheckbox {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 


.contact2nd__AllFormCheckbox input {

    
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.contact2nd__checkmark {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #F4F4F4;
    outline: 1px solid black;
    
  }

  .contact2nd__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .contact2nd__AllFormCheckbox input:checked ~ .contact2nd__checkmark:after {
    display: flex;
  }

  .contact2nd__AllFormCheckbox .contact2nd__checkmark:after {
    background-image: "check.svg";
  } */

