.aboutUs1st {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aboutUs1st__photo {
    width: 620px;
    padding-right: 150px;
}

.aboutUs1st__title {
    font-size: 34px;
    font-weight: bold;
    padding-bottom: 50px;
}

.aboutUs1st__allDescription {
    width: 510px;
}

.aboutUs1st__description {
    font-size: 15px;
    line-height: 160%;
    padding-bottom: 60px;
}

.aboutUs1st__btn {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #E74180;
    font-size: 12px;
    font-weight: bold;
    width: 124px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*SECOND SECTION-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

.aboutUs2nd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-bottom: 60px;

    
}

.aboutUs2nd--wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.aboutUs2nd__reference {
    width: 290px;
    height: 372px;
    background-color: #F4F4F4;
    color: #000000;
    font-size: 15px;
    margin-right: 40px;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
}



.aboutUs2nd__title {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-content: flex-start;
    margin-left: -38px;
    margin-bottom: 25px;
}

.aboutUs2nd__description {
    font-size: 15px;
    width: 214px;
    line-height: 160%;
}

.aboutUs2nd--last {
    margin-right: 0;
}

/*THIRD SECTION-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

.aboutUs3rd {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    
}

.aboutUs3rd__ourTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1279px;
    height: 480px;
    background-color: #E74180;
    color: #ffffff;
    
}

.aboutUs3rd__heart {
    padding-left: 12%;
    position: absolute;
}

.aboutUs3rd__ourTasksTitle {
    font-size: 34px;
    font-weight: bold;
    padding-bottom: 40px;
    width: 83%;
    display: flex;
    justify-content: flex-start;
    
}

.aboutUs3rd__number {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px ;
    
}

.aboutUs3rd__fakeHr {
    width: 252px;
    height: 2px;
    opacity: 26%;
    background-color: #ffffff;
}

.aboutUs3rd__taskTitle {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 25px;
}

.aboutUs3rd__taskDescription {
    font-size: 15px;
    line-height: 160%;
}

.aboutUs3rd__task1st {
    width: 290px;
    margin-right: 95px;
}

.aboutUs3rd__task2nd {
    width: 290px;
    margin-right: 95px;
}

.aboutUs3rd__task3rd {
    width: 290px;
}

.aboutUs3rd__onlyTasksSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.aboutUs3rd__numberSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}



/*FOURTH SECTION-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

.aboutUs4th {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.aboutUs4th__descriptionSectionTitle {
    font-size: 34px;
    font-weight: bold;
    padding-bottom: 45px;
    padding-top: 65px;
}


.aboutUs4th__descriptionSectionDetails {
    font-size: 15px;
    line-height: 170%;
    padding-bottom: 45px;
}


.aboutUs4th__descriptionSection{
    width: 290px;
    padding-right: 155px;
}

.aboutUs4th__descriptionSectionBtn {
    width: 180px;
    height: 50px;
    background-color: #E74180;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs4th__ownerName {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}

.aboutUs4th__ownerProfession {
    font-size: 13px;
    color: #E74180;
    padding-bottom: 25px;
}

.aboutUs4th__ownerProfessionDescription {
    font-size: 15px;
    width: 400px;
    padding-bottom: 25px;
    line-height: 170%;
}

.aboutUs4th__hr {
    width: 400px;
    margin-bottom: 20px;
}

.aboutUs4th__paulinaSection {
    width: 400px;
    height: 790px;
    margin-right: 40px;
}

.aboutUs4th__krzysztofSection {
    width: 400px;
    height: 790px;
}

.aboutUs4th__paulinaJpg {
    width: 401px;
    height: 550px;
    padding-bottom: 25px;
}

.aboutUs4th__krzysztofJpg {
    width: 401px;
    height: 550px;
    padding-bottom: 25px;
}

.aboutUs4th__ownerContactSection {
    display: inline-flex;
}

.aboutUs4th__phoneNumber {
    font-weight: bold;
    font-size: 15px;
    padding-right: 18px;
    width: 88px;
}

.aboutUs4th__phoneSvg {
    padding-right: 10px;
}

.aboutUs4th__mailSvg {
    padding-right: 10px;
}

.aboutUs4th__mail {
    font-weight: bold;
}

.aboutUs4th__onlyPhoneSection {
    display: inline-flex;
    align-items: center;
}


.aboutUs4th__onlyMailSection {
    display: inline-flex;
    align-items: center;
}


/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/MEDIA QUERIES */

@media screen and (max-width: 400px) {

    .aboutUs2nd--wrap {
        margin-top: 40px;
    } 

}

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */


@media screen and (max-width: 450px) {

    

    .aboutUs4th {
        /* margin-right: 15px;
        margin-left: 15px; */
        /* width: 80%; */
    }

    .aboutUs4th__descriptionSection {
        width: 80%;
    } 

    .aboutUs4th__krzysztofJpg {
        width: 298px;
        height: auto;
        
    } 


    .aboutUs4th__paulinaJpg {
        width: 298px;
        height: auto;
        
    }

    .aboutUs4th__paulinaSection {
        width: 298px;
    }

    .aboutUs4th__krzysztofSection {
        width: 298px;
    }

    .aboutUs4th__ownerProfessionDescription {
        width: 297px;
    }

    .aboutUs4th__hr {
        width: 80%;
    }

    .aboutUs4th__ownerContactSection {
        flex-direction: column;
    }

    .aboutUs4th__onlyPhoneSection {
        margin-bottom: 15px;
    }

    
}


/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

@media screen and (max-width: 579px) {

    .aboutUs2nd__reference {
        margin-right: 0px;
    }
}

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

@media screen and (max-width: 700px) {

    .aboutUs1st__photo {
        padding-right: 0;
        width: 80vw;
    }
}

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

@media screen and (max-width: 723px) {

    .aboutUs2nd__reference {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

@media screen and (max-width: 1200px) {
    .aboutUs4th {
        flex-direction: column;
        align-items: center;
    }

    .aboutUs4th__paulinaSection {
        margin-bottom: 40px;
        margin-right: 0;
        height: auto;
    }

    .aboutUs4th__krzysztofSection {
        height: auto;
    }

    .aboutUs4th__descriptionSection {
        margin-bottom: 70px;
    }

    
}


/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

@media screen and (max-width: 1300px) {

    .aboutUs3rd__ourTasks {
        width: 90vw;
        height: auto;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .aboutUs3rd__onlyTasksSection {
        justify-content: flex-start;
        flex-direction: column;
    }

    .aboutUs3rd__task1st {
        margin-right: 0;
        margin-bottom: 60px;
        width: 260px;
    }

    .aboutUs3rd__task2nd {
        margin-right: 0;
        margin-bottom: 60px;
        width: 260px;
    }

    .aboutUs3rd__task3rd {
        margin-right: 0;
        width: 260px;
    }

    .aboutUs3rd__fakeHr {
        width: 220px;
    }

    .aboutUs3rd__heart {
        display: none;
    }

    
}

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

@media screen and (max-width: 1379px) {

    .aboutUs1st__photo {
        margin-bottom: 45px;
        padding-right: 15px;
    }
}

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

@media screen and (max-width: 1386px) {

    .aboutUs2nd__reference {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .aboutUs4th {
        margin-right: 10px;
        margin-left: 10px;
    }

    .aboutUs4th__descriptionSection {
        padding-right: 30px;
    }
}

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

@media screen and (max-width: 1400px){

    .aboutUs1st{
        margin-left: 30px;
        margin-right: 30px;
    }

    .aboutUs2nd {
        margin-left: 30px;
        margin-right: 30px;
    }   
}

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

@media screen and (min-width: 1800px) {
    .aboutUs2nd {
        margin-left: 20px;
    }
}