@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Figtree', sans-serif;
    padding: 0;
    margin: 0;
    
}





/* ..................................NAVBAR */

.logo {
    margin-left: -50px;
}

.phone {
    width: 187px;
    height: 48px;
    margin-right: -90px;
    background-color: #FCE2EC;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-weight: bold;
}

.all_navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
    margin-bottom: 0%; 
    
}

.navbar {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.nav_options {
    cursor: pointer;
	font-size: 13px;
    font-weight: bold;
    display: flex;
    padding-right: 5%;
    flex-wrap: nowrap;
}

.EN_btn {
	background-color:#ffffff;
	display:inline-block;
	cursor:pointer;
	font-size:13px;
	padding: 2px;
	text-decoration:none;
    border: none;
    margin-right: -110px;
}
.EN_btn:hover {
	background-color:#f6f6f6;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
    margin-top: 2%;
}

/* ..................................FIRST SECTION */

.home_1st {
    display: flex;
}

.form_home_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18%;
}

.home_text {
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 50px;
    /* height: 227px; */
    max-width: 506px;
}


#dream {
    color: #E74180;  
}

/* ..................................HOME FORM */

.home_form {
    width: 510px;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
}

::-webkit-input-placeholder {
    
    position: absolute;
    padding-top: 17px;
    padding-left: 20px;
    
    }

.transaction_type {
    border-radius: 0%;
    width: 245px;
    height: 50px;
    background-image: url("strzalka lista.svg");
    background-repeat: no-repeat;
    
}

.property_type {
    border-radius: 0%;
    width: 245px;
    height: 50px;
}

.location {
    border-radius: 0%;
    width: 380px;
    height: 50px;
}

.distance {
    border-radius: 0%;
    width: 110px;
    height: 50px;
}

.search_btn {
    background-color: #E74180;
    width: 113px;
    height: 50px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

/* ..................................FIRST SECTION PHOTO */

.zdjecie-glowne {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-end; */
    padding-left: 7%;
    margin-top: 69px;
}

.social-title {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(-180deg);
  font-size: 15px;
  margin: 5px;
    
}

.social-icon-in {
    width: 12px;
    margin: 5px;
    padding-left: 10px;
}


.social-icon {
    width: 12px;
    margin: 5px;
}

.social-icon-fb {
    width: 9px;
    margin: 5px;
}

.social {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
}

/* ..................................SECOND SECTION */

.home_2nd {
    height: 573px;
    width: 100%;
    background-color: #F4F4F4;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.number {
    color: #E74180;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    
}

.number_title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.home_title {
    display: flex;
    flex-direction: column;
    margin-left: -55%;
}

.home_title2 {
    padding-right: 18px;
}

.offer_categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer {
    width: 290px;
    height: 290px;
    margin: 20px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offer_title {
    font-size: 22px;
    font-weight: bold;
    padding-top: 40px;
}

/* ..................................THIRD SECTION */

.home_3rd {
    width: 100%;
    height: 1216px;
    background-color: #ffffff;
    
    
}

.arrow {
    width: 14px;
    height: 14px;
    padding: 10px;
}

.arrows {
    display: flex;
    padding-left: 63.5%;
    margin-top: -3%;
    margin-bottom: 20px;
}

.offer1, .offer2, .offer3{
    /* height: 475px; */
    width: 400px;
    background-color: #F4F4F4;
    border-color: #E7E7E7;
    border: 1px;
    margin: 20px;
}



.offer1_description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5%;
    
}

.offer_id {
    color: #999999;
    font-size: 13px;
    padding-bottom: 3%;
}

.offer_name {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 3%;
    display: flex;
    flex-wrap: nowrap;
    max-width: 270px;
}

.offer_address {
    color: #999999;
    font-size: 13px;
    padding-bottom: 5%;
}

.offer_hr {
    width: 361px;
    height: 1px;
    background-color: #E7E7E7;
    border: 0;
}

.offer_price_m2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
}

.offer_price_m2_pink {
    color: #E74180;
    font-size: 22px;
    font-weight: 500;
    padding-top: 2%;
    
}

.offer_small_price_m2_pink {
    font-size: 13px;
    font-weight: 500;
    color: #E74180;

}

.space {
    font-size: 22px;
    color: #CCCCCC;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    
}

.offer_price_m2_black {
    font-size: 22px;
    color: #000000;
    padding-top: 2%;
}

.offer_price_m2 {
    width: 400px;
}

.offer1_description_bottom {
    margin-top: 5%;
}

.offer_info {
    position: absolute;
    text-transform: uppercase;
    background-color: #E74180;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    width: 78px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 302px;
    margin-top: 20px;
}

.view_all_offers {
    text-transform: uppercase;
    background-color: #FCE2EC;
    color: #E74180;
    font-size: 12px;
    font-weight: bold;
    width: 254px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 1025px;
}

.all_sell_description {
    background-color: #E74180;
    width: 1280px;
    height: 240px;
    color: #ffffff;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.heart {
    position: absolute;
    margin-left: 110px;
}

.sell {
    font-size: 22px;
    font-weight: bold;
    margin-left: 17%;
    
}

.sell_description {
    font-size: 15px;
    margin-left: 17%;
    margin-top: 25px;
}

.mail_btn {
    text-transform: uppercase;
    color: #E74180;
    background-color: #ffffff;
    width: 167px;
    height: 50px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 895px;
    /* margin-bottom: 95px; */
    position: absolute;
}




/* ..................................FOURTH SECTION */

.home_4th {
    background-color: #F4F4F4;
    width: 100vw;
    height: 1244px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.o-nas {
    width: 620px;
    margin-right: 75px;
    margin-bottom: 90px;
}

.home_title3 {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.about_us_description {
    font-size: 15px;
}

.about_us {
    width: 510px;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    
    

}

.about_us_description {
    line-height: 160%;
}



.more_about_us_btn {
    text-transform: uppercase;
    background-color: #E74180;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 50px;
    margin-top: 60px;
    margin-bottom: 70px;
}

.about_us_block {
    width: 290px;
    height: 372px;
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
}

.about_us_reference {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.zaleta-img {
    width: 16px;
    margin-left: -190px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 20px;
    margin-top: 40px;
}

.about_us_block_title {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-content: flex-start;
    margin-left: -38px;
    margin-bottom: 25px;
}

.about_us_block_description {
    font-size: 15px;
    width: 214px;
    line-height: 160%;
}

/* ..................................FIFTH SECTION */

.home_5th {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quote {
    padding-bottom: 20px;
}

.all_quote {
    width: 400px;
    font-size: 18px;
    line-height: 1.5;
}

.fake_hr {
    background-color: #E74180;
    width: 2px;
    height: 396px;
    opacity: 15%;
    margin: 70px;
}

.quote_content {
    padding-bottom: 70px;
}

.author {
    font-size: 13px;
    font-weight: bold;
}

.home_title5 {
    margin: 0;
    padding: 0;
    display: flex;
    height: 400px;
    align-items: flex-start;
    padding-right: 170px;
}


/* ..................................FOOTER */

footer {
    background-color: #000000;
    width: 100vw;
    margin: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 6%;
    flex-wrap: wrap;
}

.footer_question {
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 40px;
}

.footer_phone {
    font-weight: bold;
    font-size: 18px;
}

.footer_btn {
    color: #ffffff;
    background-color: #E74180;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    width: 167px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer_fake_hr {
    height: 257px;
    width: 1px;
    background-color: #ffffff;
    opacity: 15%;
    
}

.footer_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 20px;
}

.footer_option {
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 20px;
}

.footer_social_fb {
    width: 7px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.footer_social {
    width: 12px;
    padding: 15px;
}

.border_rad {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.15);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50px;
    height: 50px;
    
}

.footer1 {
    margin-right: 3%;
    
}

.footer2 {
    margin-right: 110px;
    margin-left: 8%;
}

.footer3 {
    margin-right: 120px;
}

.footer4 {
    margin-right: 70px;
}

.footer_phone {
    display: inline-flex;
}

.footer_phone_svg {
    padding-right: 10px;
    width: 20px;
    /* height: 20px; */
    
}

.footer_phone_number {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.footer_phone_svg_number {
    display: inline-flex;
}


.footer5 {
    display: inline-flex;
}

.footer_hr {
    background-color: #707070;
    height: 1px;
    width: 100%;
    border: 0;
    opacity: 15%;
    margin-bottom: 30px;
    margin-top: 40px;
}

.footer_2nd {
    display: inline-flex;
}

.footer3_4 {
    display: inline-flex;
    
}

.footer_absolute {
    font-size: 11px;
    color: #666666;
    width: 100vw;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_absolute1 {
    margin-left: 6vw;
    margin-right: 70vw;
}

.footer_absolute2 {
    margin-right: 6vw;
    
}





/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/MEDIA QUERIES */



/* /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ */

@media screen and (max-width: 1800px){

    .zdjecie-glowne {
        width: 40%;
    }

    .phone {
        margin-left: -225px;
    }

    .EN_btn {
        margin-left: -25px;
    }
}
  

@media screen and (max-width: 1600px){
    /* .footer_fake_hr {
        margin-left: -12%;
    } */
}




@media screen and (max-width: 1530px){

    .all_sell_description {
        width: 70vw;
    }

    .mail_btn {
        margin-top: 20px;
        position: relative;
        margin-left: 400px;
    }
}


/*................................................. */



@media screen and (max-width: 1520px)
{
    

    .form_home_text {
        width: 60%;
        margin-bottom: 20px;
        padding-left: 4%;
    }

    .home_text {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        font-size: 48px;
        
    }

    .phone {
        margin: 0;
    }

    .EN_btn {
        margin: 0;
    }

    .social {
        margin-left: 20px;
    }

    .home_2nd {
        height: auto;
        margin-top: 150px;
    }

    .all_navbar {
        margin-right: 5%;
        margin-left: 5%;
    }

    .zdjecie-glowne {
        width: 40%;
        height: 40%;
        padding-left: 4%;
    }

    .home_1st {
        justify-content: center;
    }

    .home_title {
        margin-top: 40px;
    }

    .home_4th {
        margin-top: 70px;
    }
}

/*................................................. */


@media screen and (max-width: 1400px) {

    .home_4th {
        height: auto;
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .about_us_block {
        margin-top: 30px;
        margin-right: 20px;
    }

    
    .home_5th {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    

    .all_quote2 {
        display: none;
    }

    .fake_hr {
        display: none;
    }
}

/*................................................. */




@media screen and (max-width: 1319px) {

    .view_all_offers {
        margin-right: 0;
    }

    .offer2, .offer3, .arrows {
        display: none;
    }

    /* .footer_fake_hr {
        margin-left: -12%;
    } */
}


/*................................................. */

@media screen and (max-width: 1280px) { 
    .o-nas {
        margin-top: 50px;
        margin-right: 30px;
    }

    .about_us {
        margin-left: 30px;
    }

    footer {
        /* padding-left: 30px;
        padding-right: 30px; */
    }
}



/*................................................. */

@media screen and (max-width: 1207px) {

    /* .footer_fake_hr {
        display: none;
    }

    .footer2 {
        margin-left: 14%;
    } */

}


/*................................................. */

@media screen and (max-width: 1200px) {
    
    .o-nas {
        margin-top: 50px;
        margin-right: 0;
    }

    .form_home_text {
        padding-left: 2%;
    }

    /* .sell_description {
        margin-left: 100px;
    } */

    .footer2 {
        margin-right: 30px;
        margin-left: 20px;
    }

    .footer3 {
        margin-right: 30px;
    }

    .footer4 {
        margin-right: 30px;
    }

    
}

/*................................................. */
@media screen and (max-width: 1108px) {
    .footer_fake_hr {
        height: 1px;
        width: 90vw;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 30px;
    }

    .footer1 {
        margin-right: 15%;
    }

    footer {
        height: auto;
        flex-direction: column;
        /* padding-left: 17%; */
    }

    .footer2 {
        margin-left: 0;
    }

    .footer1 {
        margin-left: 50px;
    }

    .footer_2nd {
        margin-left: 50px;
    }

    
}


/*................................................. */
@media screen and (max-width: 1100px) {
    .form_home_text {
        width: 480px;
        padding-left: 4%;
    }
    


    .zdjecie-glowne {
        margin-right: 2%;
    }

    .social {
        display: none;
    }

    .all_navbar {
        margin-left: 7%;  
    }



}


/*................................................. */

@media screen and (max-width: 900px) {
    .home_1st {
        display: flex;
        flex-direction: column-reverse;
    }


    .zdjecie-glowne {
        width: 85%;
        padding-left: 8%;
    }

    .home_form {
        display: block;
    }

    .form_home_text {
        width: 70%;
        margin-bottom: 20px;
        padding-left: 70px;
        padding-top: 20px; 
    }

    .transaction_type {
        width: 80vw;
        margin-bottom: 20px;  
    }

    .property_type {
        width: 80vw;
        margin-bottom: 20px;  
    }

    .location {
        width: 80vw;
        margin-bottom: 20px;  
    }

    .distance {
        width: 80vw;
        margin-bottom: 20px;  
    }

    .home_2nd {
        margin-top: 220px;
    }

    .home_3rd {
        margin-top: 70px;
    }

    .navbar {
        display: none;
        
    }

    .phone {
        margin-left: 40%;
    }

    .sell_description {
        display: none;
    }

    .sell {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: 30px; */
    }

    .mail_btn {
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30%;
    
    }

    .heart {
        margin-left: 0;
        width: 60%;
    }


    footer {
        height: auto;
    }

}


/*................................................. */

@media screen and (max-width: 865px) {
    .home_title5 {
        height: 160px;
    }
}

/*................................................. */

@media screen and (max-width: 700px) {
    .all_navbar {
        margin-left: 10%;
    }

    .form_home {
        width: 250px;
    }

    .o-nas {
        width: 450px;
    }

    .home_title {
        margin-left: 0;
    }

    /* .footer_fake_hr {
        width: 520px;
    } */

    .footer_absolute1 {
        margin-right: 40vw;
    }

    
}

/*................................................. */


/*................................................. */

@media screen and (max-width: 579px) {

    .about_us_block {
        margin-right: 0px;
    }
}


/*................................................. */
@media screen and (max-width: 600px) {
    .home_form {
        width: 40%;
    }

    /* .all_navbar {
        margin-left: 20%;
    }

    .o-nas {
        width: 250px;
    }

    .offer1.svg {
        width: 300px;
    } */

    

    

    .phone {
        display: none;
    }

    .mail_btn {
        margin-left: 25%;
    }

    .sell {
        margin-left: 25%;
    }

    .about_us {
        margin-left: 20px;
    }

    .footer_2nd {
        flex-wrap: wrap;

        flex-direction: column;
        
    }

    

    

    .footer3_4 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /* .footer_fake_hr {
        width: 400px;
    } */

    

}

/*................................................. */

@media screen and (max-width: 500px) {
    .search_btn{
        margin-right: 100px;
    }

    

    .form_home_text {
        padding-left: 40px;
    }

    .home_form {
        width: auto;
    }

    .o-nas {
        width: 300px;
    }

    .offer_price_m2 {
        width: auto;
    }

    .our_offers {
        max-width: 300px !important;
    }

    .offer1svg {
        width: 300px;
    }




    .offer_info {
        margin-left: 200px;
        
    }

    .offer_hr {
        width: 270px;
    }

    .offer1 {
        height: auto;
    
    }

    .home_title5 {
        padding-right: 100px;
    }

    .footer_fake_hr {
        width: 80vw;
    }

    .footer1 {
        display: flex;
        flex-direction: column;
    }

    .footer_phone {
        display: flex;
        flex-direction: column;
    }


    .footer_phone_svg_number {
        margin-bottom: 25px;
    }
    
    

   
}



/*................................................. */


@media screen and (max-width: 400px) {

    .mail_btn {
        margin-left: 15%;
    }

    .sell {
        margin-left: 15%;
    }

    .o-nas {
        width: 280px;
    }

    .about_us_reference {
        margin-top: 40px;
    } 

    
}
/*................................................. */

@media screen and (min-width: 1400px) {
    .offer {
        display: inline-flex;
    }

    .about_us_block {
        display: inline-flex;
    }

    .o-nas {
        margin-bottom: 0px;
    }
}



@media screen and (min-width: 1800px) {
    .about_us_reference {
        margin-left: 20px;
    }
}